.main {
  background-color: #191B20;
  height: 100vh;
}
.wrapper {
  padding-top: 80px;
}
.header {
  text-align: center;
  margin-top: 0px;
}
    #headerText {
      font-family: 'Poiret One', cursive;
      color: #ffffff;
      font-size: 32px;
    }

.login {
  width: 320px;
  height: 215px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 3px;
}
    input {
      width: 278px;
      height: 33px;
      border-radius: 2px;
      background-color:  #191B20 !important;
      color: #ffffff !important;
    }

#login-button {
  width: 278px;
  height: 34px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: rgb(255, 255, 255, 0);
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 2px;
}
    #login-button:hover {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border-color: #ffffff;
      }

.text {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 14px;
}
