{% extends 'dashboard.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Profile</h1>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <hr>
            <p class="ml-4 text">Username: {{ username }}</p>
            <hr>
            <p class="ml-4 text">Your id: {{ id }}</p>
            <hr>
            <p class="ml-4 text">You registred: {{ date_joined }}</p>
            <hr>
            <p class="ml-4 text">Your email: {{ email }}</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}