{% extends 'dashboard.html' %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Questions</h1>
    <a class="btn btn-outline-dark" href="/dashboard/questions/create" role="button">Create question</a>
</div>

<div class="row">
{% for question in questions %}
<div class="card col-xl-3 col-lg-4 col-sm-6 mb-1 px-0" title="
Title: {{ question.title }}
Author: {{ question.owned.username }}
Id: {{ question.id }}
">

    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-dark">{{ question.title }}</h6>
      
      <div class="dropdown no-arrow show">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-156px, 19px, 0px);">
          <a class="dropdown-item" href="/dashboard/questions/edit/{{ question.id }}/">Edit</a>
          <a class="dropdown-item bg-danger text-white" href="/dashboard/questions/delete/{{ question.id }}/">Delete</a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <ul>
        {% for option in question.body.option %}
        <li>{{ option }}</li>
        {% endfor %}
      </ul>
    </div>
    <hr class="mb-0 mt-0">
</div>
{% endfor %}
</div>
{% endblock %}